name: Pull Request CI

on:
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/**'

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  test:
    name: Test and Code Coverage
    uses: ./.github/workflows/test-and-analyze.yml
    with:
      upload-coverage: true
      coverage-threshold: 80
